.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
quarot.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
Makefile
third-party/*
third-party/cutlass
*.make
*.cmake
*/.git
/third-party/cutlass
fake_quant/quant_Meta-Llama-3-8B
fake_quant/quant_Qwen2-7B-Instruct
third-party/cutlass
