.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
quarot.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
Makefile
third-party/*
third-party/cutlass
*.make
*.cmake
*.txt
*.sh
exp_quant*
*.pdf
Meta*
download*
*.png
clash*
plot.py
test.py

*/.git
/third-party/cutlass
fake_quant/quant_Meta-Llama-3-8B
fake_quant/quant_Qwen2-7B-Instruct
third-party/cutlass
fake_quant/quant_qwen2moe-a27b
fake_quant/wandb/settings
backup.py
